<h1 mat-dialog-title>Add Contact</h1>
<div mat-dialog-content>
    <!-- <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field> -->

    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-tab-group #matgroup>
            <mat-tab label="Details">
                <div class="tab-content">
                    <div class="content-container tab-content-height">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your First Name</mat-label>
                            <input matInput formControlName="firstName" onkeydown="return /[a-z]/i.test(event.key)"
                                [(ngModel)]="local_data.firstName" required>
                        </mat-form-field>

                    </div>
                    <div class="content-container tab-content-height">

                        <mat-form-field>
                            <mat-label>Enter your Last Name</mat-label>
                            <input matInput formControlName="lastName" onkeydown="return /[a-z]/i.test(event.key)"
                                [(ngModel)]="local_data.lastName" required>
                        </mat-form-field>

                    </div>
                    <div class="content-container tab-content-height">

                        <mat-form-field>
                            <mat-label>Enter your 10 digit Phone</mat-label>
                            <!-- <input matInput type="number" formControlName="phone" [(ngModel)]="local_data.phone"
                                [maxLength]="10" required> -->

                            <input matInput #phone maxlength="10" minlength="10" formControlName="phone"
                                [(ngModel)]="local_data.phone" required>
                            <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </form>

    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.name}}</b>
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>